# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.log

# Virtual environments
myv/
venv/
env/

# MacOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# PyCharm / VSCode
.idea/
.vscode/

# Optional: large files
*.dylib
*.so
*.dll