# Python
__pycache__/
.env
myv/
venv/
env/

# Virtual environments
myv/
venv/
env/

# MacOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# PyCharm / VSCode
.idea/
.vscode/

# Optional: large files
*.dylib
*.so
*.dll